:root {
    --yellow: #FFCC00;
    --blue: #081484;
    --white: #fff;
    --heading: 'Kdam Thmor Pro', sans-serif;
    --body: 'Tinos', serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--blue);
}

.header {
    text-align: center;
    margin: 1.5rem 0;
    color: var(--white);
    font-family: var(--heading);
    letter-spacing: 0.3rem;
    font-size: 3rem;
    text-shadow: 2px 2px 2px #000;
}

.container {
    display: flex;
    justify-content: center;
}

.btn-box {
    padding: 5rem;
    display: inline-block;
    flex: 0 1 20rem;
    font-size: 2.5rem;
    cursor: pointer;
    color: var(--yellow);
    background-color: var(--blue);
    font-family: var(--body);
    text-transform: uppercase;
    border: 5px solid #000;
    margin: 0 1rem;
    text-decoration: none;
}

#game-selector {
    margin-top: 6rem;
}

footer {
    font-family: var(--heading);
    padding: 5rem;
    color: var(--white);
    text-align: center;
}

footer a {
    color: var(--white);
}

footer a:hover {
    color: var(--yellow);
}